body {
    background-color: rgb(230, 228, 228);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#signal {
    width: 90vw;
    height: auto;
    margin: 130px auto;
    /* padding: 20px; */
    border-color: rgb(102, 100, 100);
    border-style: solid;
    border-width: 5px;

}

#uploadForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.5rem;
}

#uploadButton {
    max-width: 5rem;
}