body {
    background-color: rgb(230, 228, 228);
}

#signal {
    width: 90vw;
    height: auto;
    margin: 130px auto;
    /* padding: 20px; */
    border-color: rgb(102, 100, 100);
    border-style: solid;
    border-width: 5px;

}